<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.newproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.newproject.permission.PUSHIO_MESSAGE" />
    <uses-permission android:name="com.newproject.permission.RSYS_SHOW_IAM" />
    <permission android:name=".permission.PUSHIO_MESSAGE" android:protectionLevel="signature" />
    <permission android:name="com.newproject.permission.RSYS_SHOW_IAM" android:protectionLevel="signature" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

          <intent-filter>
              <action android:name="com.newproject.NOTIFICATIONPRESSED" />
              <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>

          <intent-filter
              android:autoVerify="true">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:host="@string/app_links_url_host" android:pathPrefix="/notifications" android:scheme="demo" />
          </intent-filter>

          <intent-filter>
              <action android:name="com.newproject.intent.action.PROCESS_RSYS_DEEPLINK" />
              <category android:name="android.intent.category.DEFAULT" />
              <data android:scheme="demo" />
          </intent-filter>
      </activity>
        <activity
            android:name="com.pushio.manager.iam.ui.PushIOMessageViewActivity"
            android:permission="com.newproject.permission.SHOW_IAM"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="@string/uri_identifier" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".MyRNFirebaseMessagingReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:priority="999">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <receiver
            android:enabled="true"
            android:exported="false"
            android:name="com.pushio.manager.PushIOUriReceiver">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="@string/uri_identifier" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.pushio.manager.PIOFCMIntentService"
            android:exported="true"
            android:priority="999">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
